{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class="container">
    <h1>О нас</h1>
    <div class="alert alert-info">Мы многого были присланы пришельцами с другой вселенной! Поэтому наша музыка космически своеобразная! Мы многого были присланы пришельцами с другой вселенной! Поэтому наша музыка космически своеобразная! Мы многого были присланы пришельцами с другой вселенной! Поэтому наша музыка космически своеобразная! Мы многого были присланы пришельцами с другой вселенной! Поэтому наша музыка космически своеобразная!</div>
</div>
{% endblock %}